{% extends "header.html" %}

{% block name %}
LogIn
{% endblock %}

{% block body %}
	<h4>Please Login:</h4>
	<br>
	<form action="" class="form-inline" method="post">
		<input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}">
		<input type="password" class="form-control" placeholder="Password" name="password"
			value="{{request.form.password}}">
		<input class="btn btn-dark" type="submit" value="Login">
	</form>
	<p>{{error}}</p>
{% endblock %}