{% extends 'header.html' %}

{% block name %}
-SignUp
{% endblock %}

{% block body %}
    <h4> Register here:</h4>
    <br>
    {% from "_formhelpers.html" import render_field %}
    <form action="/signup/" method="post">
        <dl>
            {{render_field(form.username)}}
            {{render_field(form.email)}}
            {{render_field(form.password)}}
            {{render_field(form.confirm)}}
            {{render_field(form.accept_tos)}}
        </dl>
        <p><input class="btn btn-dark" type="submit" value="Register"></p>
    </form>

    {% if error %}
        <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}

{% endblock %}